body{
    background-color: black; 
    font-family: "Vujahday Script", system-ui;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:blue ;
    color: aqua;
   font-family: "Vujahday Script", system-ui;

}

 .passo{
     display: nome;
 }

  .passo.ativo{
      display:block;
  }

  main{
    text-align: center;
    max-width: 90%;
  }
  img{
    max-width:80% ;
  }